@font-face {
  font-family: 'Inconsolata';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/Inconsolata/Inconsolata-regular.eot');
  src: url('../fonts/Inconsolata/Inconsolata-regular.eot?#iefix') format('embedded-opentype'), local('Inconsolata'),
    local('Inconsolata-regular'), url('../fonts/Inconsolata/Inconsolata-regular.woff2') format('woff2'),
    url('../fonts/Inconsolata/Inconsolata-regular.woff') format('woff'),
    url('../fonts/Inconsolata/Inconsolata-regular.ttf') format('truetype'),
    url('../fonts/Inconsolata/Inconsolata-regular.svg#Inconsolata') format('svg');
}

@font-face {
  font-family: 'Inconsolata';
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/Inconsolata/Inconsolata-700.eot');
  src: url('../fonts/Inconsolata/Inconsolata-700.eot?#iefix') format('embedded-opentype'), local('Inconsolata Bold'),
    local('Inconsolata-700'), url('../fonts/Inconsolata/Inconsolata-700.woff2') format('woff2'),
    url('../fonts/Inconsolata/Inconsolata-700.woff') format('woff'),
    url('../fonts/Inconsolata/Inconsolata-700.ttf') format('truetype'),
    url('../fonts/Inconsolata/Inconsolata-700.svg#Inconsolata') format('svg');
}

@font-face {
  font-family: 'Geo';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url('/fonts/geo/Geo-regular.eot');
  src: url('/fonts/geo/Geo-regular.eot?#iefix') format('embedded-opentype'), local('Geo'), local('Geo-regular'),
    url('/fonts/geo/Geo-regular.woff2') format('woff2'), url('/fonts/geo/Geo-regular.woff') format('woff'),
    url('/fonts/geo/Geo-regular.ttf') format('truetype'), url('/fonts/geo/Geo-regular.svg#Geo') format('svg');
}

@font-face {
  font-family: 'Warnes';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url('/fonts/warnes/Warnes-regular.eot');
  src: url('/fonts/warnes/Warnes-regular.eot?#iefix') format('embedded-opentype'), local('Warnes'),
    local('Warnes-regular'), url('/fonts/warnes/Warnes-regular.woff2') format('woff2'),
    url('/fonts/warnes/Warnes-regular.woff') format('woff'), url('/fonts/warnes/Warnes-regular.ttf') format('truetype'),
    url('/fonts/warnes/Warnes-regular.svg#Warnes') format('svg');
}

@font-face {
  font-family: 'Vollkorn';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url('/fonts/volkron/Vollkorn-regular.eot');
  src: url('/fonts/volkron/Vollkorn-regular.eot?#iefix') format('embedded-opentype'), local('Vollkorn Regular'),
    local('Vollkorn-regular'), url('/fonts/volkron/Vollkorn-regular.woff2') format('woff2'),
    url('/fonts/volkron/Vollkorn-regular.woff') format('woff'),
    url('/fonts/volkron/Vollkorn-regular.ttf') format('truetype'),
    url('/fonts/volkron/Vollkorn-regular.svg#Vollkorn') format('svg');
}

@font-face {
  font-family: 'Vollkorn';
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  src: url('/fonts/volkron/Vollkorn-italic.eot');
  src: url('/fonts/volkron/Vollkorn-italic.eot?#iefix') format('embedded-opentype'), local('Vollkorn Italic'),
    local('Vollkorn-italic'), url('/fonts/volkron/Vollkorn-italic.woff2') format('woff2'),
    url('/fonts/volkron/Vollkorn-italic.woff') format('woff'),
    url('/fonts/volkron/Vollkorn-italic.ttf') format('truetype'),
    url('/fonts/volkron/Vollkorn-italic.svg#Vollkorn') format('svg');
}

$inconsolata: 'Inconsolata', 'Lucida Console', Monaco, monospace;
$serif: Georgia, serif;
$volkron: 'Vollkorn', $serif;
// $fira: 'Fira Sans', "Trebuchet MS", Helvetica, sans-serif;
