# Mac temp thingy
.DS_Store

# Node modules
node_modules

# Deploy temp folder
.publish

# Build - This is getting copied to the gh-pages branch, so no need to track it here.
build/*
!build/.gitkeep
!build/CNAME
!build/data

# Processed images
src/img/lab/
src/img/notations/

# yarn
.yarnclean

# logs
*.log

# Ver documentación de Yarn moderno (> v2): https://yarnpkg.com/getting-started/qa#which-files-should-be-gitignored
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
