# Mac temp thingy
.DS_Store

# Node modules
node_modules

# Deploy temp folder
.publish

# Build - This is getting copied to the gh-pages branch, so no need to track it here.
build/*
!build/.gitkeep
!build/CNAME

# Processed images
src/img/lab/
src/img/notations/

# yarn
.yarnclean

# logs
*.log