# Mac temp thingy
.DS_Store

# Node modules
node_modules

# Deploy temp folder
.publish

# Build - This is getting copied to the gh-pages branch, so no need to track it here.
build

# Processed images
src/img/lab/
src/img/notations/

# External libs
src/js/vendor