---
import Plantilla from '@/plantillas/Plantilla.astro';
import { getCollection } from 'astro:content';

export async function getStaticPaths() {
  const entradas = await getCollection('lab');
  return entradas.map((entrada) => ({
    params: { slug: entrada.slug },
    props: { entrada },
  }));
}

const { entrada } = Astro.props;
const { Content } = await entrada.render();
---

<Plantilla titulo={entrada.data.title} descripcion={entrada.data.description}>
  <main role="main" class={`lab-single ${entrada.slug}`}>
    <section id="ddd-container">
      <Content />
    </section>
  </main>
</Plantilla>
