@use 'sass:math';

$noUI-css-prefix: noUi;

.#{$noUI-css-prefix}-target,
.#{$noUI-css-prefix}-target * {
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-user-select: none;
  -ms-touch-action: none;
  touch-action: none;
  -ms-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.#{$noUI-css-prefix}-base,
.#{$noUI-css-prefix}-connects {
  width: 100%;
  height: 6px;
  position: relative;
  z-index: 1;
  background-color: #ccc9c6;
}

/* Wrapper for all connect elements.
 */
.#{$noUI-css-prefix}-connects {
  overflow: hidden;
  z-index: 0;
}

.#{$noUI-css-prefix}-connect,
.#{$noUI-css-prefix}-origin {
  will-change: transform;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  -ms-transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  -webkit-transform-style: preserve-3d;
  transform-origin: 0 0;
  transform-style: flat;
}

.#{$noUI-css-prefix}-connect {
  height: 100%;
  width: 100%;
}

.#{$noUI-css-prefix}-origin {
  height: 10%;
  width: 10%;
}

/* Offset direction
 */
html:not([dir='rtl']) .#{$noUI-css-prefix}-horizontal .#{$noUI-css-prefix}-origin {
  left: auto;
  right: 0;
}

.#{$noUI-css-prefix}-horizontal .#{$noUI-css-prefix}-origin {
  height: 0;
}

.#{$noUI-css-prefix}-handle {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
}

.#{$noUI-css-prefix}-state-tap .#{$noUI-css-prefix}-connect,
.#{$noUI-css-prefix}-state-tap .#{$noUI-css-prefix}-origin {
  -webkit-transition: transform 0.3s;
  transition: transform 0.3s;
}

.#{$noUI-css-prefix}-state-drag * {
  cursor: inherit !important;
}

/* Slider size and handle placement;
 */
.#{$noUI-css-prefix}-horizontal {
  height: 18px;
}

html:not([dir='rtl']) .#{$noUI-css-prefix}-horizontal .#{$noUI-css-prefix}-handle {
  right: -17px;
  left: auto;
}

/* Styling;
 * Giving the connect element a border radius causes issues with using transform: scale
 */
.#{$noUI-css-prefix}-target {
  background: #fafafa;
}

.#{$noUI-css-prefix}-connects {
  border-radius: 3px;
}

.#{$noUI-css-prefix}-connect {
  background-color: #979491;
}

/* Handles and cursors;
 */
.#{$noUI-css-prefix}-draggable {
  cursor: ew-resize;
}

.#{$noUI-css-prefix}-handle {
  border-radius: 10px;
  // position: absolute;
  top: -6px;
  margin-left: -9px;
  z-index: 2;
  height: 16px;
  width: 16px;
  background-color: #d4d4d4;
  border: 0 solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.4), inset 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 2px rgba(0, 0, 0, 0.6),
    0 4px 2px rgba(0, 0, 0, 0.2), 0 9px 4px rgba(0, 0, 0, 0.1), inset 0 2px 1px #fff;
  outline: 0;
}

$track-color: #ccc9c6 !default;
$thumb-color: #d4d4d4 !default;

$thumb-radius: 8px !default;
$thumb-height: 16px !default;
$thumb-width: 16px !default;
$thumb-shadow: 0 0 2px rgba(0, 0, 0, 0.4), inset 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 2px rgba(0, 0, 0, 0.6),
  0 4px 2px rgba(0, 0, 0, 0.2), 0 9px 4px rgba(0, 0, 0, 0.1), inset 0 2px 1px #fff;

$track-width: 100% !default;
$track-height: 6px !default;
$track-border-width: 2px !default;
$contrast: 5% !default;

$ie-bottom-track-color: darken($track-color, $contrast) !default;

@mixin shadow($shadow) {
  box-shadow: $shadow;
}

@mixin track {
  cursor: default;
  height: $track-height;
  transition: all 0.2s ease;
  width: $track-width;
}

@mixin thumb {
  @include shadow($thumb-shadow);
  background: $thumb-color;
  border-radius: $thumb-radius;
  box-sizing: border-box;
  cursor: default;
  height: $thumb-height;
  width: $thumb-width;
}

[type='range'] {
  -webkit-appearance: none;
  background: transparent;
  margin: math.div($thumb-height, 2) 0;
  width: $track-width;

  &::-moz-focus-outer {
    border: 0;
  }

  &:focus {
    outline: 0;
  }

  &::-webkit-slider-runnable-track {
    @include track;
    background: $track-color;
  }

  &::-webkit-slider-thumb {
    @include thumb;
    -webkit-appearance: none;
    margin-top: (math.div((-$track-border-width * 2 + $track-height), 2) - math.div($thumb-height, 2));
  }

  &::-moz-range-track {
    @include track;
    background: $track-color;
    height: math.div($track-height, 2);
  }

  &::-moz-range-thumb {
    @include thumb;
  }

  &::-ms-track {
    @include track;
    background: transparent;
    border-color: transparent;
    border-width: math.div($thumb-height, 2) 0;
    color: transparent;
  }

  &::-ms-fill-lower {
    background: $ie-bottom-track-color;
  }

  &::-ms-fill-upper {
    background: $track-color;
  }

  &::-ms-thumb {
    @include thumb;
    margin-top: math.div($track-height, 4);
  }

  &:disabled {
    &::-webkit-slider-thumb,
    &::-moz-range-thumb,
    &::-ms-thumb,
    &::-webkit-slider-runnable-track,
    &::-ms-fill-lower,
    &::-ms-fill-upper {
      cursor: not-allowed;
    }
  }
}
