.spikes #ddd-container {
  /* BACKGROUND CODE: http://codepen.io/1cgonza/details/BDjin/ */
  background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiPgo8bGluZWFyR3JhZGllbnQgaWQ9ImciIHgyPSIxIiB5Mj0iMSI+CjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNjY2M5YzYiPjwvc3RvcD4KPHN0b3Agb2Zmc2V0PSI1MCUiIHN0b3AtY29sb3I9IiNmMWVhZTQiPjwvc3RvcD4KPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjY2NjOWM2Ij48L3N0b3A+CjwvbGluZWFyR3JhZGllbnQ+CjxyZWN0IHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZykiPjwvcmVjdD4KPC9zdmc+');
  width: 100vw;
  height: 100vh;

  .eqta {
    display: block;
  }

  .ta:hover {
    cursor: pointer;

    .polygon {
      opacity: 1 !important;
    }
  }

  #info {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 30%;
    padding: 1em;
    line-height: 1.2;
  }

  #years {
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 0.85em;
    border-top: 3px solid #aecbda;

    li {
      display: inline-block;
      padding: 0.5em;
      border-top: 3px solid;
      margin-top: -3px;
      border-color: transparent;

      &:hover {
        cursor: pointer;
        color: #0b9a8b;
      }

      &.current {
        color: #0b9a8b;
        border-color: #0b9a8b;
        background-color: transparent;

        &:hover {
          cursor: inherit;
          color: #0b9a8b;
        }
      }
    }
  }

  /*===============================
  =            SLIDERS            =
  ===============================*/
  .noUi-target {
    top: 40%;
    font-size: 0.8em;
    background: transparent;
    cursor: pointer;
    position: absolute;
  }

  .sliderValues {
    cursor: default;
  }

  .noUi-horizontal,
  .noUi-vertical {
    background-color: #ccc9c6;
  }

  /*==========  HORIZONTAL  ==========*/
  .noUi-horizontal {
    height: 8px;
    right: 50px;

    .noUi-origin {
      height: 8px;
    }

    .noUi-handle {
      top: -5px;
    }

    .sliderValues {
      position: absolute;
      top: -30px;
      width: 100%;
      text-align: right;
    }
  }

  /*==========  VERTICAL  ==========*/
  .noUi-vertical {
    width: 8px;

    .noUi-origin {
      width: 8px;
      bottom: 0;
    }

    .noUi-handle {
      right: -4px;
    }

    .noUi-base,
    .noUi-connects {
      height: 100px;
    }

    .sliderValues {
      position: absolute;
      width: 100px;
      right: -46px;
      margin-top: 115px;
      text-align: center;
    }
  }

  /*==========  MAGNITUDE  ==========*/
  #sliderMagnitude {
    width: 100px;
    margin-top: -60px;
  }

  /*==========  RADIUS  ==========*/
  #sliderRadius {
    width: 200px;
  }

  /*==========  OPACITY  ==========*/
  #sliderOpacity {
    width: 100px;
    margin-top: 60px;
  }

  /*==========  POW OF  ==========*/
  #sliderPowOf {
    height: 100px;
    right: 150px;
    margin-top: 100px;
  }

  /*==========  DIVIDED BY  ==========*/
  #sliderDividedBy {
    height: 100px;
    right: 80px;
    margin-top: 100px;
  }

  /*-----  End of SLIDERS  ------*/
}