.circle-variations #ddd-container {

  /*====================================
  =            SPRITES MENU            =
  ====================================*/
  #sprites{
    position: absolute;
    top: 20%;

    li {
      margin-bottom: 0.5em;
      border-bottom: 1px solid transparent; /* So menu items don't change position when assigning new current with border. */

      .play {
        padding-left: .5em;
      }
    }
  }

  /*-----  End of SPRITES MENU  ------*/

  /*===============================
  =            SLIDERS            =
  ===============================*/
  .ui-slider {
    z-index: 99999;
  }

  .ui-slider-horizontal {
    cursor: pointer;
    height: 6px;
    position: absolute;
    right: 50px;
    top: 50%;
    background-color: #ccc9c6;
  }

  .ui-widget-header {
    height: 6px;
    position: absolute;
    background-color: #979491;
  }

  .ui-slider-handle {
    border-radius: 10px;
    position: absolute;
    top: -6px;
    margin-left: -9px;
    z-index: 2;
    height: 16px;
    width: 16px;
    background-color: #d4d4d4;
    border: 0 solid rgba(0,0,0,0.1);
    box-shadow: 0 0 2px rgba(0,0,0,0.4),inset 0 0 1px rgba(0,0,0,0.3),0 1px 2px rgba(0,0,0,0.6),0 4px 2px rgba(0,0,0,0.2),0 9px 4px rgba(0,0,0,0.1),inset 0 2px 1px #fff;
    outline: 0;
  }

  .slider-values{
    position: absolute;
    top: -30px;
    width: 100%;
    text-align: right;
    font-size: 0.9em;
  }

  /* RADIUS */
  #slider-radius {
    width: 200px;
  }

  /* MAGNITUDE */
  #slider-magnitude{
    width: 100px;
    margin-top: -60px;
  }

  /* OPACITY */
  #slider-opacity{
    width: 100px;
    margin-top: 60px;
  }

  /*-----  End of SLIDERS  ------*/
}