.spikes #ddd-container {
  font-family: 'Inconsolata', Verdana, Geneva, sans-serif;
  /* BACKGROUND CODE: http://codepen.io/1cgonza/details/BDjin/ */
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiPgo8bGluZWFyR3JhZGllbnQgaWQ9ImciIHgyPSIxIiB5Mj0iMSI+CjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNjY2M5YzYiPjwvc3RvcD4KPHN0b3Agb2Zmc2V0PSI1MCUiIHN0b3AtY29sb3I9IiNmMWVhZTQiPjwvc3RvcD4KPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjY2NjOWM2Ij48L3N0b3A+CjwvbGluZWFyR3JhZGllbnQ+CjxyZWN0IHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZykiPjwvcmVjdD4KPC9zdmc+");


  .eqta {
    display: block;
  }

  .ta:hover {
    cursor: pointer;

    .polygon {
      opacity: 1 !important;
    }
  }

  #info {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 30%;
    padding: 1em;
    line-height: 1.2;
  }

  #years {
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 0.85em;
    border-top: 3px solid #aecbda;

    li {
      display: inline-block;
      padding: 0.5em;
      border-top: 3px solid;
      margin-top: -3px;
      border-color: transparent;

      &:hover {
        cursor: pointer;
        color: #0b9a8b;
      }

      &.current {
        color: #0b9a8b;
        border-color: #0b9a8b;
        background-color: transparent;

        &:hover {
          cursor: inherit;
          color: #0b9a8b;
        }
      }
    }
  }

  /*===============================
  =            SLIDERS            =
  ===============================*/
  .ui-slider {
    top: 40%;
    font-size: 0.9em;
  }

  .ui-slider, .ui-slider-range {
    cursor: pointer;
    position: absolute;
  }

  .slider-values {
    cursor: default;
  }

  .ui-slider-handle {
    border-radius: 10px;
    position: absolute;
    margin-left: -9px;
    z-index: 2;
    height: 16px;
    width: 16px;
    background-color: #d4d4d4;
    border: 0 solid rgba(0,0,0,0.1);
    box-shadow: 0 0 2px rgba(0,0,0,0.4),inset 0 0 1px rgba(0,0,0,0.3),0 1px 2px rgba(0,0,0,0.6),0 4px 2px rgba(0,0,0,0.2),0 9px 4px rgba(0,0,0,0.1),inset 0 2px 1px #fff;
    outline: 0;
  }

  .ui-widget-header {
    background-color: #979491;
  }

  .ui-slider-horizontal, .ui-slider-vertical {
    background-color: #ccc9c6;
  }

  /*==========  HORIZONTAL  ==========*/
  .ui-slider-horizontal {
    height: 8px;
    right: 50px;

    .ui-widget-header {
      height: 8px;
    }

    .ui-slider-handle {
      top: -5px;
    }

    .slider-values {
      position: absolute;
      top: -30px;
      width: 100%;
      text-align: right;
    }
  }

  /*==========  VERTICAL  ==========*/
  .ui-slider-vertical {
    width: 8px;

    .ui-widget-header {
      width: 8px;
      bottom: 0;
    }

    .ui-slider-handle {
      right: -4px;
    }

    .slider-values{
      position: absolute;
      width: 100px;
      right: -46px;
      margin-top: 110px;
      text-align: center;
    }
  }

  /*==========  MAGNITUDE  ==========*/
  #slider-magnitude {
    width: 100px;
    margin-top: -60px;
  }

  /*==========  RADIUS  ==========*/
  #slider-radius {
    width: 200px;
  }

  /*==========  OPACITY  ==========*/
  #slider-opacity {
    width: 100px;
    margin-top: 60px;
  }

  /*==========  POW OF  ==========*/
  #slider-powof {
    height: 100px;
    right: 150px;
    margin-top: 100px;
  }

  /*==========  DIVIDED BY  ==========*/
  #slider-dividedby {
    height: 100px;
    right: 80px;
    margin-top: 100px;
  }

  /*-----  End of SLIDERS  ------*/
}