$yellowAlpha: rgba(255, 243, 43, 0.4);

$inconsolata: 'Inconsolata', 'Lucida Console', Monaco, monospace;
$serif: Georgia, serif;
$volkron: 'Vollkorn', $serif;
// $fira: 'Fira Sans', "Trebuchet MS", Helvetica, sans-serif;
