// http://www.paulirish.com/2012/box-sizing-border-box-ftw/
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
  height: 100%;
}

body {
  font-family: $inconsolata;
  font-weight: 400;
}

main {
  word-break: break-word;
}

a {
  color: #CA0000;
  background-color: transparent;
  text-decoration: none;
  border-bottom: 1px;

  &:active, &:hover {
    outline: 0;
    border-bottom: 1px dotted;
  }
}

ul {
  list-style: none;
}

#ddd-container {
  font-family: $inconsolata;

  /* MENU */
  #years{
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 0.85em;

    li {
      display: inline-block;
      padding: 0.5em;
    }
  }

  #years li:hover,

  #sprites span:hover {
    cursor: pointer;
    color: #9c9c9c;
  }

  li, span {
    &.current {
      color: white;
      background-color: black;
    }
  }

  ul#years li.current:hover,
  ul#sprites span.current:hover {
    cursor: inherit;
    color: white;
  }

  #ddd-loading {
    position: absolute;
    @include transition(opacity, 0.5s);
  }

  canvas {
    display: block;
  }
}

.archive {
  font-family: $inconsolata;
  font-weight: 400;

  b, strong, h1, h2, h3, h4, h5 {
    font-weight: 700;
  }

  .page-header {
    width: 100%;
    padding: 2em;
    background-color: rgba(255, 255, 255, 0.6);
  }

  .page-title {
    margin: 0;
  }

  .archive-items {
    text-align: center;
  }

  .item {
    display: block;
    width: 100%;
    padding: 1em;

    .info, .item-img {
      display: block;
    }

    .info {
      width: 100%;
      text-align: right;

      .item-title {
        padding: 0 1em;
        font-weight: 400;
        margin: 0 0 0.3em;
        font-size: 1.3em;
      }

      .item-description {
        font-size: 0.85em;
        background-color: $yellowAlpha;
        padding: 1em;
        text-align: left;
      }
    }

    .item-img {
      width: 100%;
      line-height: 0;
      position: relative;
      padding-bottom: 55%;
      height: 0;
      overflow: hidden;
      border: 1px dotted;
      background-color: rgba(255, 255, 255, 0.5);

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: auto;
      }
    }

  }
}

.lab-archive {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiPgo8ZGVmcz4KPHBhdHRlcm4gaWQ9InNtYWxsR3JpZCIgd2lkdGg9IjgiIGhlaWdodD0iOCIgcGF0dGVyblVuaXRzPSJ1c2VyU3BhY2VPblVzZSI+CjxwYXRoIGQ9Ik0gOCAwIEwgMCAwIDAgOCIgZmlsbD0ibm9uZSIgc3Ryb2tlPSJncmF5IiBzdHJva2Utd2lkdGg9IjAuMyIgc3Ryb2tlLW9wYWNpdHk9IjAuNyI+PC9wYXRoPgo8L3BhdHRlcm4+CjxwYXR0ZXJuIGlkPSJtZWRpdW1HcmlkIiB3aWR0aD0iNDAiIGhlaWdodD0iNDAiIHBhdHRlcm5Vbml0cz0idXNlclNwYWNlT25Vc2UiPgo8cmVjdCB3aWR0aD0iNDAiIGhlaWdodD0iNDAiIGZpbGw9InVybCgjc21hbGxHcmlkKSI+PC9yZWN0Pgo8cGF0aCBkPSJNIDQwIDAgTCAwIDAgMCA0MCIgZmlsbD0ibm9uZSIgc3Ryb2tlPSJncmF5IiBzdHJva2Utd2lkdGg9IjEiIHN0cm9rZS1vcGFjaXR5PSIwLjIiPjwvcGF0aD4KPC9wYXR0ZXJuPgo8cGF0dGVybiBpZD0iZ3JpZCIgd2lkdGg9IjgwIiBoZWlnaHQ9IjgwIiBwYXR0ZXJuVW5pdHM9InVzZXJTcGFjZU9uVXNlIj4KPHJlY3Qgd2lkdGg9IjgwIiBoZWlnaHQ9IjgwIiBmaWxsPSJ1cmwoI21lZGl1bUdyaWQpIj48L3JlY3Q+CjxwYXRoIGQ9Ik0gODAgMCBMIDAgMCAwIDgwIiBmaWxsPSJub25lIiBzdHJva2U9ImdyYXkiIHN0cm9rZS13aWR0aD0iMi41IiBzdHJva2Utb3BhY2l0eT0iMC4wNSI+PC9wYXRoPgo8L3BhdHRlcm4+CjwvZGVmcz4KPHJlY3Qgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmlkKSI+PC9yZWN0Pgo8L3N2Zz4=");
}

/*----------  404 PAGE  ----------*/
.error-404 {
  font-weight: 400;
  text-align: center;
  background-color: yellow;
  height: 100%;
  position: relative;

  h2 {
    margin: 0;
    font-weight: 400;
    font-size: 40vw;
    color: #FFF57B;
    top: 50vh;
    margin-top: -20vw;
    position: absolute;
    width: 100%;
  }

  .message {
    position: absolute;
    font-size: 2vw;
    top: 50vh;
    margin-top: -3vw;
    width: 100%;
    background-color: rgba(255, 255, 86, 0.5);
  }
}

/*================================
=            DATASETS            =
================================*/
.datasets-archive {
  .item {
    display: block;

    .info {
      text-align: left;
      display: block;
      width: 100%;

      .item-title {
        margin: 0.5em 0;
        padding: 0;
      }
    }
  }
  .related {
    padding: 0;
    li::before {
      content: '';
      width: 5px;
      height: 5px;
      margin-right: 0.3em;
      border-radius: 50%;
      border-style: solid;
      display: inline-block;
      border-width: 1px;
      vertical-align: middle;
    }
  }
}

/*=====  End of DATASETS  ======*/

/*----------  DEBUG  ----------*/
.debug {
  word-break: break-word;
  border: 2px dotted;
  background-color: yellow;
  padding: 1em;
}
