{{> head}}
<main class="with-nav error-404">
  <h2>404</h2>
  <div class="message">
    <p>..xXxXx| This page does not exist |xXxXx..</p>
    <p><a href="{{ baseUrl }}">&larr; Try again from the homepage &larr;</a></p>
  </div>
</main>
{{> footer }}