{{> head}}
<main class="error-404">
  <h2>404</h2>
  <div class="message">
    <p>..xxXX| This page does not exist |XXxx..</p>
    <p><a href="{{ baseUrl }}">&larr; Try again from the homepage &larr;</a></p>
  </div>
</main>
{{> footer }}