{{> head}}
<main role="main" class="with-nav home">
  {{#each collections}}
  {{#each this}}
  {{#if archive}}
  <section>
    <h3><a href="{{ setURL slug false true }}">{{ title }}</a></h3>
    <p class="section-description">{{ description }}</p>
  </section>
  {{/if}}
  {{/each}}
  {{/each}}
</main>

{{> footer }}