{{> head }}
<main class="{{ slug }}">
  <section id="ddd-container">
    <span id="ddd-loading" class="loading">...</span>
  </section>
</main>

{{#if libraries}}
  {{setLibraries libraries}}
{{/if}}

{{#if scripts}}
  {{setScripts scripts}}
{{/if}}

<script src ="./js/scripts.js"></script>
{{> footer }}