{{> head}}
<main role="main" class="lab-single {{slug}}">
  <section id="ddd-container"></section>
</main>

{{#if libraries}}
  {{setLibraries libraries}}
{{/if}}

{{#if scripts}}
  {{setScripts scripts}}
{{/if}}

<script src ="{{dddLibrary}}"></script>
<script src ="./js/scripts.js"></script>
{{> footer}}