/*----------  PARTIALS  ----------*/
@import 'partials/normalize';
@import 'partials/typography';
@import 'partials/mixins';
@import 'partials/variables';
@import 'partials/noUiSlider';

/*----------  BREAKPOINTS  ----------*/
@import 'breakpoints/base';

@media only screen and (min-width: 486px) {
  @import 'breakpoints/486up';
}

@media only screen and (min-width: 768px) {
  @import 'breakpoints/768up';
}

@media only screen and (min-width: 1030px) {
  @import 'breakpoints/1030up';
}

@media only screen and (min-width: 1240px) {
  @import 'breakpoints/1240up';
}

/*----------  LAB  ----------*/
@import 'lab/spikes';
@import 'lab/circle_variations';
@import 'lab/facebook-network';

/*----------  NOTATIONS  ----------*/
@import 'notations/main';